<!doctype html>
<html>
  <head>
    <title>Facepunch Newsfeed</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/feed.css">

  </head>
  <body>
    <header>
      <!--Site Name-->
      Facepunch
      <!--MyMarist Portal-->
      <div id="portal_button">
        <img src = "/images/facepunchlogo.jpg" id = "facepunchlogo">
        <span>rust</span>
        
        
        

      
      <div></div>
    </header>
    <main>
        <div id ="newsfeed">

        </div>
        <div>
          <img id = "img" src = "images/rust logo.jpg"></img><a href = "https://rust.facepunch.com">Article</a>
          <p>open world online survial game rust.</p>
        </div>
        <div>
          <img id = "img" src = "images/garrysmod.png"></img><a href = "https://gmod.facepunch.com">Article</a>
          <p>Let your imagination take over</p>
        </div>
        <div>
          <img id = "img" src = "images/clatter.jpg"></img><a href = "https://store.steampowered.com">Article</a>
          <p>strategist game</p>
        </div>
      

    </main>
    <footer>
      <p id="site_info">Copyright &copy; 2020: Marist College est. 1929</p>
    </footer>

        <script src ="/js/feed.js"></script>
        <script src ="/js/global.js"></script>
      </body>
</html>
